{% extends '_layout.njk' %}

{% block title %}归档 - {{ config.title }}{% endblock %}

{% block page_class %}page-archive{% endblock %}

{% block content %}
  <div class="hentry">
    <h1 class="post-title">归档 Archive <small>（目前共计 {{ site.posts.length }} 篇文章）</small></h1>
    <section class="posts-collapse">
    {% set year = '1970' %}
    {% for post in page.posts.toArray() %}

      {# Show year #}
      {% set post_year = date(post.date, 'YYYY') %}

      {% if post_year !== year %}
        {% set year = post_year %}
        <div class="collection-title">
          <h2 class="archive-year motion-element" id="archive-year-{{ year}}">{{ year }}</h2>
        </div>
      {% endif %}
      {# endshow #}

      {{ partial('_partials/post-collapse.njk', {'post': post}) }}

    {% endfor %}
    </section>
  </div>

  {% include '_partials/pagination.njk' %}
{% endblock %}
