/*
* @Author: slanterns
* @Date:   2022-01-12 02:30:34
* @Last Modified by:   slanterns
* @Last Modified time: 2022-01-12 02:30:34
*/

$lighten-3 = #d2cde4;
$lighten-2 = #dbd4f7;
$lighten-1 = #8f82bc;

$main = #7c6db0;
$hightlight = #8577b6;

$darker = #7667ad;
$title = #000000;
